table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
}

.wrapper {
  width: 450px;
  background: #fff;
}

.wrapper header {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  justify-content: space-between;
}

header .current-date {
  font-size: 1.45em;
  font-weight: 600;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background-color: #878787;
  font-size: 1.9rem;
}

header .icons span:hover {
  background: #dddddd;
}

header .icons span:last-child {
  margin-right: -10px;
}
header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background-color: #dddddd;
}
.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.calendar ul li {
  width: calc(100% / 7);
}
