/* General styles for the homepage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text color */
    font-family: Helvetica, Arial, sans-serif; /* Change font to Helvetica */
  }
  
  .home-container {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e; /* Darker background for header */
    border-bottom: 1px solid #333; /* Lighter border color */
  }
  
  .logo-left {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; /* White text color */
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff; /* White text color */
  }
  
  .main-content {
    padding: 20px;
  }
  
  .section-header {
    padding: 10px 20px;
  }
  
  .section-title {
    color: #ffffff; /* White text color */
  }
  
  .week-view {
    width: 100%;
    padding: 20px;
    border: 1px solid #333; /* Lighter border color */
    border-radius: 5px;
    background-color: #1e1e1e; /* Darker background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
    margin-bottom: 40px; /* Add more space below the week container */
    position: relative;
  }
  
  .bottom-container {
    display: flex;
    justify-content: space-between;
  }
  
  .section-container {
    width: 48%;
  }
  
  .month-view,
  .day-view {
    padding: 20px;
    border: 1px solid #333; /* Lighter border color */
    border-radius: 5px;
    background-color: #1e1e1e; /* Darker background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
    position: relative;
  }
  
  .month-view {
    overflow-x: scroll; /* Make month-view scrollable horizontally */
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .calendar {
    width: 100%;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .calendar-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .calendar-nav .nav-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendar-row {
    display: flex;
    justify-content: space-between;
  }
  
  .empty-cell, .date-cell {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
  }
  
  .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .time-slot {
    padding: 10px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
  }
  
  .time-label {
    margin-right: 10px;
    color: #ffffff; /* White text*/
  }